@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-caveat), var(--font-nothing-you-could-do), sans-serif;
  height: 100svh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-w-124 {
    max-width: 660px;
  }
}